name: Rust

on:
  push:
    branches:
      - main

jobs:

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Update local toolchain
        run: |
          rustup update
          rustup component add clippy
          rustup install nightly

      - name: Toolchain info
        run: |
          cargo --version --verbose
          rustc --version
          cargo clippy --version

      - name: Lint
        run: |
          cd hasanlang
          cargo fmt -- --check
          cargo clippy -- -D warnings

      - name: Test
        run: |
          cd hasanlang
          cargo check
          cargo test --all

      - name: Build
        run: |
          cd hasanlang
          cargo build --release
